:root {
  /*Colores primario*/
  --Lightred: hsl(0, 100%, 67%);
  --Orangeyyellow: hsl(39, 100%, 56%);
  --Greenteal: hsl(166, 100%, 37%);
  --Cobaltblue: hsl(234, 85%, 45%);

  /*Colores para el degradado*/

  /*Colores de fondo*/
  --Lightslateblue: hsl(252, 100%, 67%); 
  --Lightroyalblue: hsl(241, 81%, 54%);  
  /*Colores para el circulo*/
  --Violetblue: hsla(256, 72%, 46%, 1);
  --Persianblue: hsla(241, 72%, 46%, 0);

  /*Colores neutros*/
  --White: hsl(0, 0%, 100%);
  --Paleblue: hsl(221, 100%, 96%);
  --Lightlavender: hsl(241, 100%, 89%);
  --Darkgrayblue: hsl(224, 30%, 27%);
  
  /*Usa la transparencia para obtener las variaciones de color necesarias para que coincidan con el diseño. Consejo: considera usar `hsla()`.*/
}

body {
  font-size: 18px
}

h4 {
  font-family: "Hanken Grotesk", sans-serif;

}